<nav id="stickyTable" class="side-nav flex-column" >
    <a class="nav-link" href="#introduction">Introduction</a>
    <a class="nav-link" href="#design">Design</a>
    <nav class="nav flex-column">
        <a class="nav-link ml-3" href="#design-considerations">Design considerations</a>
        <a class="nav-link ml-3" href="#inputs-and-outputs">Inputs and outputs</a>
        <a class="nav-link ml-3" href="#architecture">Architecture</a>
        <a class="nav-link ml-3" href="#attention">Attention</a>
    </nav>
    <a class="nav-link" href="#julia-implementation">Julia implementation</a>
    <nav class="nav flex-column">
        <a class="nav-link ml-3" href="#project-setup">Project Setup</a>
        <a class="nav-link ml-3" href="#tokenizers">Tokenizers</a>
        <a class="nav-link ml-3" href="#word-embeddings">Word embeddings</a>
        <a class="nav-link ml-3" href="#position-encodings">Position encodings</a>
        <a class="nav-link ml-3" href="#multiplication-with-higher-order-arrays">Multiplication with higher order arrays</a>
        <a class="nav-link ml-3" href="#multi-head-attention">Multi-head attention</a>
        <a class="nav-link ml-3" href="#encoder-blocks">Encoder blocks</a>
        <a class="nav-link ml-3" href="#classifier">Classifier</a>
    </nav>
    <a class="nav-link" href="#use-case-amazon-reviews">Use case: Amazon reviews</a>
    <nav class="nav flex-column">
        <a class="nav-link ml-3" href="#data-exploration">Data exploration</a>
        <a class="nav-link ml-3" href="#pipeline">Pipeline</a>
        <a class="nav-link ml-3" href="#evaluation">Evaluation</a>
    </nav>
    <a class="nav-link" href="#conclusion">Conclusion</a>
</nav>
